apiVersion: apps/v1
kind: Deployment
metadata:
  name: guestbook-api
  labels:
    app: guestbook-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: guestbook-api
  template:
    metadata:
      labels:
        app: guestbook-api
    spec:
      containers:
      - name: guestbook-api
        image: ghcr.io/ajaykumarisdf/k8s-ha-website-api:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
        env:
        - name: DB_HOST
          value: "mysql-service"
        - name: DB_NAME
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: mysql-database
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: mysql-user
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: mysql-password
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
          limits:
            memory: "128Mi"
            cpu: "200m"
        livenessProbe:
          httpGet:
            path: /api/health
            port: 3000
          initialDelaySeconds: 15
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /api/health
            port: 3000
          initialDelaySeconds: 10
          periodSeconds: 5
